.container {
    margin: 0 auto;
    width: 1280px;
    border: 1x solid rgb(152, 152, 152);

}

header {
    min-height: 323px;
    background: rgb(68, 81, 98);
    padding: 50px 50px 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header section {
    width: 457px;
    display: inline-block;
}

header h1 {
    font-family: Arial;
    color: #ffffff;
    line-height: 50px;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 51px 0;
}

header ul {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-image: url(../img/check.png);
}

header img {
    float: right;
}

main {}

.about {
    padding: 50px 0 0 50px;

}

.zagolovok {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.about article {
    width: 649px;
    float: left;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 101px;
}

.about article p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.about video {
    width: 430px;
    height: 245px;
    margin-bottom: 50px;
}



.h1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;

}

.dignity {
    margin-bottom: 50px;
    padding-top: 50px;
    background: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 90px;

}

.kolonka {
    display: flex;
    flex-direction: column;
}


.kolonka details {
    margin-bottom: 30px;
    height: 80px;
    width: 560px;
    position: relative;
}

details summary::-webkit-details-marker {
    display: none;
}

.iconsum {
    position: relative;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.iconsum::before {
    padding-top: 0px;
    content: "";
    display: block;
    text-align: center;
    width: 32px;
    height: 32px;
    background: rgb(68, 81, 97) url(../img/krest.png) no-repeat 6px 6px;
    color: white;
    position: absolute;
    top: 0px;
    left: -35px;
}

.text {
    position: absolute;
    margin: 0px;
    top: 0px;
    hyphens: auto;
}

.scrinshot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    ;
}

details p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.imgsh {
    display: flex;
    align-items: flex-start;
    margin: 0 0 30px 0;

}

.imgsh article {
    width: 359px;
    margin-left: 15px;

}

.imgsh img {
    height: 150px;
}

.imgsh article h1 {
    font-family: Arial;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0;
}

.imgsh article p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 35px 0 0 0;
}

.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 50px 30px 50px;
    padding-top: 50px;
    background: rgb(245, 245, 245);
}

.koment {
    display: flex;

}

.krug {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(68, 81, 97);
}

.otziv {
    padding: 16px 20px 0 20px;
    width: 450px;
    background: rgb(236, 236, 236);
    font-family: Arial;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
    hyphens: auto;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 24px;
}

.otziv::before {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid rgb(236, 236, 236);
    position: absolute;
    left: -30px;

}

.fio {
    display: block;
    margin: 15px 0 0 0;
    font-family: Arial;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.buy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 145px 0 145px;
}

.buy div:nth-child(2) {
    background: #445162;
    width: 300px;
    height: 306px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


.buy div:nth-child(3) {
    background: #445162;
    width: 300px;
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.buy div:nth-child(4) {
    background: #445162;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.price {
    margin-bottom: 50px;
    border-radius: 5px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricename {
    display: block;
    color: #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 16px;
}

.cena {
    padding: 18px;
    display: block;
    color: #445162;
    font-family: Arial;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    border: 2px solid #445162;
    background: white;
    text-align: center;
}

.cenaspisok {
    width: 242px;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.knopka {
    display: block;
    width: 260px;
    background-color: #ffffff;
    color: #445161;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 10px 0;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
}

.knopka:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.knopka:active{
    box-shadow: none;
}

footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #445162;
   padding-top: 50px;

}

.footermail {
    margin-left: 249px;
    margin-bottom: 75px;    
}

.h2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
}

.footermail form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

form input,
textarea {
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    resize: none;
    padding-left: 10px;
}

form input {
    height: 40px;
}

form textarea {
    padding-top: 13px;
}

form button {
    border-radius: 5px;
    outline: none;
    border-style: none;
    background: white;
    padding: 10px;
    width: 140px;
    color: #445162;
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
}
button:hover{
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active{
box-shadow: none;
}

input[placeholder],
textarea[placeholder] {
    color: #445162;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}


.soc {
    margin-right: 246px; 
}

.socicon a {
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 28px;
    text-decoration: none;
    display: flex;
    flex-direction: column
}

.socicon a:first-child {
    background: url(../img/skype.png) no-repeat;
}

.socicon a:nth-child(2) {
    background: url(../img/icq.png) no-repeat;
}

.socicon a:nth-child(3) {
    background: url(../img/email.png) no-repeat;
}

.socicon a:nth-child(4) {
    background: url(../img/phone.png) no-repeat;
}

.socicon2 {
    display: flex;
}
.socicon2 a{
    margin: 20px 5px 0 0;
}

.socicon2 a:nth-child(1) {
    width: 42px;
    height: 42px;
    background: url(../img/twit.png) no-repeat;
}

.socicon2 a:nth-child(2){
    width: 42px;
    height: 42px;
    background: url(../img/facebook.png) no-repeat;
}

.socicon2 a:nth-child(3) {
    width: 42px;
    height: 42px;
    background: url(../img/in.png) no-repeat;
}

.socicon2 a:nth-child(4) {
    width: 42px;
    height: 42px;
    background: url(../img/google.png) no-repeat;
}

.socicon2 a:nth-child(5) {
    width: 42px;
    height: 42px;
    background: url(../img/youtube.png) no-repeat;
}
.niz{
display: flex; 
    justify-content: center;
width: 100%;
background: #f5f5f5;
color: #445162;
font-family:Arial;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
}